{% load static %}
<!doctype html>
<html lang="en">
  <head>
  <style>
	*{
		transition: 3s linear;
	}
  </style>
  	<title>Hospital :)</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="{% static '/css/style.css' %}">
	<link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	{% comment %} <link rel="stylesheet" href="{% static '/css/style1.css' %}"> {% endcomment %}
  </head>
  <body>
	 <nav class="navbar navbar-light " style="margin: 0; background-color: #bca6f5;">
		<a class="navbar-brand" style="font-weight: bold;letter-spacing: 5px;"> AstriX </a>
		<a class="btn navbar-text" href="#services">About us</a>
		{% if user.is_authenticated  %}
		  
		  <a class="btn btn-outline-success my-2 my-sm-0 ml-auto" href="{% url 'logout' %}">Logout</a>
		  {% else %}
			
		  
		  <a class="btn btn-outline-success my-2 my-sm-0 ml-auto" href="{% url 'login' %}">Login</a>
		  {% endif %}
		
	  </nav>	 

	  {% comment %} <nav class="navbar navbar-expand-lg nav-back " 
    id="mainNav">
      <div class="container">
          <a class="navbar-brand" href="#">Medical</a>
          <button class="navbar-toggler navbar-toggler-right" type="button"
           data-toggle="collapse" data-target="#navbarResponsive" 
           aria-controls="navbarResponsive" aria-expanded="false" 
           aria-label="Toggle navigation"><i class="fas fa-syringe fa-2x"></i>
           </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" 
                  href="#about">Services</a></li>
                  <li class="nav-item"><a class="nav-link" 
                    href="#about">About</a></li>
                  <li class="nav-item"><a class="nav-link" 
                    href="#about">Medical Camps</a></li>
                  <li class="nav-item"><a class="nav-link"
                     href="#projects">Team</a></li>
                  <li class="nav-item"><a class="nav-link" 
                    href="#signup">Contact</a></li>
              </ul>
          </div>
      </div>
  </nav> {% endcomment %}
		<div class="wrapper d-flex align-items-stretch">
			
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
		</div>
		<a class="m-5 pt-4" href="{% url 'management:home' %}" class="logo"> <img src="{% static '/images/logo1.png' %}" style="width: 90px; padding-top:10px"  alt=""> </a>
				<div class="pl-4 pr-4">
					
		  		
	        <ul class="list-unstyled components mb-5">

			<li>
				<a href="{% url 'management:home' %}">Home</a>
			</li>
			{% if user.is_authenticated  %}
			<li>
				<a href="{% url 'management:addPatient' %}">Add Patients</a>
			</li>
			
			<li>
				<a href="{% url 'management:patientsDetails' %}">Patient Details</a>
			</li>
			
			<li>
				<a href="{% url 'management:doctorDetails' %}"> Doctor Details</a>
			</li>
			  
			<li>
				<a href="{% url 'management:addtreatment' %}">Add Treatment</a>
			</li>

			<li>
				<a href="{% url 'management:treatmentview' %}">Treatments</a>
			</li>

			<li>
				<a href="{% url 'management:addmedicine' %}"> Add Medicine </a>
			</li>
			<li>
				<a href="{% url 'management:medicine' %}"> Medicine Transaction </a>
			</li>
			<li>
				<a href="{% url 'management:rooms' %}"> Rooms </a>
			</li>
			<li>
				<a href="{% url 'logout' %}">Logout</a>
			</li>
			{% else %}
			
			<li>
				<a href="{% url 'login' %}">Login</a>
			</li>

			{% endif %}

	        </ul>

	        <div class="footer1">
	        	
					<h6>
						<footer> K S Prajwal </footer>
					</h6>
				
				
					<h6>
						<footer> Abhishek </footer>
					</h6>
				
						  
	        </div>

	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" >
		
		
		
    
			{% block content %}
			{% endblock %}

		
		
      </div>
		</div>

<!-- script from django -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<!--  -->

    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/js/main.js' %}"></script>
    <script src="{% static '/js/popper.js' %}"></script>
  </body>
</html>
